
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <input type="text" formControlName="subjectName" class="form-control form-control-lg"
                                placeholder="Nombre de la materia">
                            <div class="text-danger"
                                *ngIf="productoForm.get('subjectName')?.hasError('required') && productoForm.get('subjectName')?.touched">
                                <span>El nombre de la <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                          <input type="number" formControlName="order" class="form-control form-control-lg" min="1" max="6"
                              placeholder="Numero identificatorio">
                          <div class="text-danger"
                              *ngIf="productoForm.get('order')?.hasError('required') && productoForm.get('order')?.touched">
                              <span>El ID <strong>es obligatorio</strong></span>
                          </div>
                      </div>
                        <div class="mb-3">
                            <input type="number" formControlName="subjectYear" class="form-control form-control-lg" min="1" max="6"
                                placeholder="Año">
                            <div class="text-danger"
                                *ngIf="productoForm.get('subjectYear')?.hasError('required') && productoForm.get('subjectYear')?.touched">
                                <span>El año <strong>es obligatorio</strong></span>
                            </div>
                        </div>


                        <div class="mb-3" style="text-align: left;">
                            <input type="radio" class="btn-check"  formControlName="radioYear" value="Primer cuatrimestre" id="success-outlined" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="success-outlined">Primer cuatrimestre</label>

                            <input type="radio" class="btn-check"  formControlName="radioYear" value="Segundo cuatrimestre" id="success-outlined2" autocomplete="off" >
                            <label class="btn btn-outline-success" for="success-outlined2">Segundo cuatrimestre</label>
                        </div>
                        

                        <div class="mb-3"  >
                          <div class="row">
                            <div class="col-md-4">Materias Correlativas(Previas)</div>
                            <div class="col-md-4">Materias Correlativas(medio)</div>
                            <div class="col-md-4">Materias Correlativas(medio)</div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- accordion 1 -->
                        <div class="accordion mb-5" id="accordionExample" style="width:33%"> <!-- let i of [].constructor(years); -->
                          <div class="accordion-item" *ngFor="let item of selectedData; let i = index" [attr.data-index]="6">
                            <h2 class="accordion-header" [id]="'heading'+i">
                              <button class="accordion-button" [ngClass]="{ 'collapsed': i != 0 }" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                                {{item.header}}
                              </button>
                            </h2>
                            
                            <div [id]="'collapse'+i" class="accordion-collapse collapse" [ngClass]="{ 'show': i == 0 }" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
                              <div class="accordion-body mb-3 mb-2" >

                                <!-- Cuatrimestre 1 -->
                                <label class="text-left" style="display: flex;    margin-bottom: 1rem;">
                                  <strong>1º Cuatrimestre</strong>
                                </label>
                                <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox;">
                                  <div class="row" *ngIf="subject.subject.year == (i ) && subject.subject.quarter == 1">
                                    <li class="list-group-item"> 
                                        
                                        <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                        <label style="float:left; font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                      </li>
                                  </div>
                                </ul> 

                                <!-- Cuatrimestre 2 -->
                                <label class="text-left mt-3 mb-2" style="display: flex;" > 
                                  <strong>2º Cuatrimestre</strong>
                                </label>
                                <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox;">
                                  <div class="row" *ngIf="subject.subject.year == (i ) && subject.subject.quarter == 2">
                                    <li class="list-group-item"> 
                                        
                                        <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                        <label style="float:left;font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                      </li>
                                  </div>
                                </ul> 
                                
                              </div>
                            </div>

                          </div>
                        </div>

                        <!-- accordion 2 -->
                        <div class="accordion mb-5" id="accordionExample" style="width:33%" > <!-- let i of [].constructor(years); -->
                          <div class="accordion-item" *ngFor="let item of selectedData; let i = index" [attr.data-index]="i"
                          
                          >
                           
                            <h2 class="accordion-header" [id]="'heading'+i + selectedData.length">
                              <button class="accordion-button" [ngClass]="{ 'collapsed': i != 0 }" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i + selectedData.length" aria-expanded="true" [attr.aria-controls]="'collapse'+i + selectedData.length">
                                {{item.header}}
                              </button>
                            </h2>
                            
                            <div [id]="'collapse'+i + selectedData.length" class="accordion-collapse collapse" [ngClass]="{ 'show': i == 0 }" [attr.aria-labelledby]="'heading'+i + selectedData.length" data-bs-parent="#accordionExample">
                              <div class="accordion-body mb-3 mb-2" >

                                <!-- Cuatrimestre 1 -->
                                <label class="text-left" style="display: flex;    margin-bottom: 1rem;">
                                  <strong>1º Cuatrimestre</strong>
                                </label>
                                <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox2;">
                                  <div class="row" *ngIf="subject.subject.year == (i ) && subject.subject.quarter == 1">
                                    <li class="list-group-item"> 
                                        
                                        <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                        <label style="float:left; font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                      </li>
                                  </div>
                                </ul> 

                                <!-- Cuatrimestre 2 -->
                                <label class="text-left mt-3 mb-2" style="display: flex;" > 
                                  <strong>2º Cuatrimestre</strong>
                                </label>
                                <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox2;">
                                  <div class="row" *ngIf="subject.subject.year == (i ) && subject.subject.quarter == 2">
                                    <li class="list-group-item"> 
                                        
                                        <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                        <label style="float:left; font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                      </li>
                                  </div>
                                </ul> 
                                
                              </div>
                            </div>

                          </div>
                        </div>

                        
                      <!-- accordion 3 -->
                      <div class="accordion mb-5" id="accordionExample" style="width:33%" > <!-- let i of [].constructor(years); -->
                        <div class="accordion-item" *ngFor="let item of selectedData; let i = index" [attr.data-index]="i">
                          
                          <h2 class="accordion-header" [id]="'heading'+i + selectedData.length  + 10">
                            <button class="accordion-button" [ngClass]="{ 'collapsed': i != 0 }" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i + selectedData.length  + 10" aria-expanded="true" [attr.aria-controls]="'collapse'+i + selectedData.length  + 10">
                              {{item.header}}
                            </button>
                          </h2>
                          
                          <div [id]="'collapse'+i + selectedData.length + 10" class="accordion-collapse collapse" [ngClass]="{ 'show': i == 0 }" [attr.aria-labelledby]="'heading'+i + selectedData.length  + 10" data-bs-parent="#accordionExample">
                            <div class="accordion-body mb-3 mb-2" >

                              <!-- Cuatrimestre 1 -->
                              <label class="text-left" style="display: flex;    margin-bottom: 1rem;">
                                <strong>1º Cuatrimestre</strong>
                              </label>
                              <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox3;">
                                <div class="row" *ngIf="subject.subject.year == (i) && subject.subject.quarter == 1">
                                  <li class="list-group-item"> 
                                      
                                      <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                      <label style="float:left; font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                    </li>
                                </div>
                              </ul> 

                              <label class="text-left mt-3 mb-2" style="display: flex;" > 
                                <strong>2º Cuatrimestre</strong>
                              </label>
                              <ul class="list-group" *ngFor="let subject of subjectWIthCheckBox3;">
                                <div class="row" *ngIf="subject.subject.year == (i ) && subject.subject.quarter == 2">
                                  <li class="list-group-item"> 
                                      
                                      <input class="form-check-input" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:left; margin-right: 1rem;"> 
                                      <label style="float:left;font-size:13px;">{{subject.subject.name}} ({{subject.subject.order}})</label>
                                    </li>
                                </div>
                              </ul> 
                              
                            </div>
                          </div>

                        </div>
                      </div>

                      </div>


                        <div class="mb-3"> <!-- [disabled]="productoForm.invalid" -->
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit"  class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>









<!--  MODELO LINDO DE GROUP 
<ul class="list-group" *ngFor="let subject of item.data;">
  <div *ngIf="subject.quarter == 2">
    <li class="list-group-item">
        <label style="float:left">{{subject.value}}</label>
        <input class="form-check-input me-1" type="checkbox"  (change)="setCheck(subject)" [checked]="subject.isSelected"  value="" aria-label="..." style="float:right">
    </li>
  </div>
</ul> -->









<!-- 




                        
                            <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 50%;">

                              <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    1º
                                  </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                  <ul class="list-group" *ngFor="let item of subjects1;">
                                      <li class="list-group-item">
                                          <label style="float:left">{{item.value}}</label>
                                          
                                          <input class="form-check-input me-1" type="checkbox"  (change)="setCheck(item)" [checked]="item.isSelected"  value="" aria-label="..." style="float:right">
                                        </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    2º
                                  </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                  <ul class="list-group" *ngFor="let item of subjects2;">
                                      <li class="list-group-item">
                                          <label style="float:left">{{item.value}}</label>
                                          
                                          <input class="form-check-input me-1" type="checkbox" (change)="setCheck(item)" [checked]="item.isSelected"  value="" aria-label="..." style="float:right">
                                        </li>
                                  </ul>
                                </div>
                              </div>
  
  
                              <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      3º
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <ul class="list-group" *ngFor="let item of subjects3;">
                                        <li class="list-group-item">
                                            <label style="float:left">{{item.value}}</label>
                                            
                                            <input class="form-check-input me-1" type="checkbox" (change)="setCheck(item)" [checked]="item.isSelected"  value="" aria-label="..." style="float:right">
                                          </li>
                                    </ul>
                                  </div>
                                </div>
  
  
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                      4º
                                    </button>
                                  </h2>
                                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <ul class="list-group" *ngFor="let item of subjects4;">
                                        <li class="list-group-item">
                                            <label style="float:left">{{item.value}}</label>
                                            
                                            <input class="form-check-input me-1" type="checkbox" (change)="setCheck(item)" [checked]="item.isSelected"  value="" aria-label="..." style="float:right">
                                          </li>
                                    </ul>
                                  </div>
                                </div>
  
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                      5º
                                    </button>
                                  </h2>
                                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <ul class="list-group" *ngFor="let item of subjects5">
                                      <li class="list-group-item">
                                          <label style="float:left">{{item.value}}</label>
                                          <input class="form-check-input me-1" type="checkbox" (change)="setCheck(item)" [checked]="item.isSelected"  style="float:right"/> 
                                           
                                      </li>
                                    </ul>    
                                  </div>
                                </div>
                            </div> -->