<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table *ngIf="listSubjects.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Materia</th>
                            <th scope="col">Año</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subject of listSubjects">
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.year }}</td>
                            <td>
                                <!-- <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i> -->
                                <i (click)="eliminarProducto(subject._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listSubjects.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>