
<ng-container *ngFor="let i of [].constructor(5); let j= index"> <!-- repito 5 veces los niveles de materias -->
  <div class="d-flex justify-content-center">
    <div *ngFor="let subject of listSubjectsDB ; " >   

      <div *ngIf="subject.year == (j + 1)">
        <div id="{{subject.name}}" class="card subject" (mouseenter) ="changeColor(subject)" (mouseleave) ="resetColor()" (click)="changeColor(subject)">
          <div>
                  {{ subject.name }}
          </div>
       </div>
      </div>
    </div>
  </div>
</ng-container>




<!-- 
<div class="d-flex justify-content-center">
    <div *ngFor="let subject of listSubjectsDB ; let i= index" >
      <div *ngIf="subject.year == 3">
        <div id="{{subject.name}}" class="card subject" (mouseenter) ="changeColor(subject)" (mouseleave) ="resetColor()" (click)="changeColor(subject)">
          <div>
                  {{ subject.name }}
          </div>
        </div>
      </div>

    </div>
</div> -->
