.subject{
    
    height: 70px;
    width: 140px;
    margin-bottom: 1rem;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    background-color: #389FB1;

}
.subjectSemestral{
    
    height: 35px;
    width: 140px;
    margin-bottom: 1rem;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    background-color: #389FB1;

}

.header{
    height: 100px;
    width: 100%;
    background-color: #6b174e;
    
}



